{% macro render_child(mn, cls, menu_data ) %}
    {% if mn.children %}
        <li class="dropdown {{ cls }}"><a class="dropdown-toggle" data-toggle="dropdown"
                                          href="{{ menu_data.link }}">{{ menu_data.name }}</a>
            <i class="fa fa-angle-down"></i>
            <ul class="dropdown-menu">
                {% for subMn in mn.children %}
                    {% set _data = subMn.id|get_menu_data(_menus_data) %}
                    {{ render_child(subMn,'', _data) }}
                {% endfor %}
            </ul>
        </li>
    {% else %}
        <li class="{{ cls }}"><a href="{{ menu_data.link }}"> {{ menu_data.name }}</a></li>
    {% endif %}
{% endmacro %}

<ul class="nav navbar-nav">
    {% for mn in _menus %}
        {% set menu_data = mn.id|get_menu_data(_menus_data) %}
        {% set cls = route|active_menu(menu_data.link,'active',1) %}
        {{ render_child(mn, cls, menu_data) }}
    {% endfor %}
</ul>