{% extends '_layout.' + getConfig('viewExtension') %}

{% block content %}
    <div class="page-header">
        <h1>Book List</h1>
        {% include '_messages.' + getConfig('viewExtension') %}
    </div>
{% endblock %}