/*=== ADD Your Custom Changes here ===*/
.block_media img {
    width: 100%;
}

.security-question-section input[type="number"] {
    border: 1px solid #DDD;
}

.security-question-section + .submit {
    clear: both;
}

.content ul.question_options {
    clear: both;
    display: inline-block;
    width: 100%;
    list-style: none;
}

.bbp-forum-title {
    font-size: 18px;
    font-weight: 600;
}

.widget .bbp-forum-title,
.footerwidget .bbp-forum-title {
    font-size: 14px;
    font-weight: 400;
}

#bbpress-forums .bbp-forum-info .bbp-forum-content, #bbpress-forums p.bbp-topic-meta {
    font-size: 13px;
    color: #666;
}

#bp_search {
    border: 1px solid #DDD;
    padding: 9px 12px;
    border-radius: 2px;
}

.bbp-topic-permalink {
    font-size: 16px;
}

#bbpress-forums p.bbp-topic-meta img.avatar, #bbpress-forums ul.bbp-reply-revision-log img.avatar, #bbpress-forums ul.bbp-topic-revision-log img.avatar, #bbpress-forums div.bbp-template-notice img.avatar, #bbpress-forums .widget_display_topics img.avatar, #bbpress-forums .widget_display_replies img.avatar {
    width: 32px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.bbp-breadcrumb,
.bbp-breadcrumb a {
    font-weight: 600;
    text-transform: uppercase;
}

.live-edit-sidebar, .live-edit-sidebar + .text-options {
    display: none;
}

/**
* inline css at index
*/

.social-ring:after {
    clear: both
}

.social-ring:before, .social-ring:after {
    content: "";
    display: table
}

.social-ring {
    margin: 0 0 0.5em !important;
    padding: 0 !important;
    line-height: 20px !important;
    height: auto;
    font-size: 11px
}

.social-ring-button {
    float: left !important;
    height: 30px;
    margin: 0 5px 0 0 !important;
    padding: 0 !important
}

.social-ring .social-ring-button iframe {
    max-width: none !important
}

.button, .heading_more:before, .vibe_carousel .flex-direction-nav a, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .sidebar .widget #searchform input[type="submit"], #signup_submit, #submit, button, #buddypress a.button, #buddypress input[type=button], #buddypress input[type=submit], #buddypress input[type=reset], #buddypress ul.button-nav li a, #buddypress div.generic-button a, #buddypress .comment-reply-link, a.bp-title-button, #buddypress div.item-list-tabs#subnav ul li.current a, #buddypress div.item-list-tabs ul li a span, #buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a, .course_button.button, .unit_button.button, .woocommerce-message, .woocommerce-info, .woocommerce-message:before, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce ul.products li a.added_to_cart, .woocommerce ul.products li a.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a, .woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range, .price_slider .ui-slider-range, .ui-slider .ui-slider-handle, .tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus, .page-numbers.current, .pagination span.current, .block_media .hover-link, .vibe_filterable li a:hover, .vibe_filterable li.active a, .chosen-container .chosen-results li.highlighted, .checkoutsteps ul li:hover, .checkoutsteps ul li.active, .woocommerce-info a, .woocommerce-info:before, #wplms-calendar td.active, .btn.primary, #wplms-calendar td a span, .tagcloud a, .checkoutsteps ul li.checkout_begin, .widget.pricing .course_sharing .socialicons.round li > a:hover, .widget.pricing .course_sharing .socialicons.square li > a:hover, .widget_carousel .flex-direction-nav a, .vibe_carousel .flex-direction-nav a, #question #submit:hover, .ques_link:hover, .reset_answer, .quiz_timeline li:hover > span, .quiz_timeline li.active > span, .course_timeline li.done > span, .course_timeline li:hover > span, .course_timeline li.active > span, .active .quiz_question span, .vbplogin em, #buddypress div.item-list-tabs#subnav ul li.switch_view a.active, #buddypress .activity-list li.load-more a:hover {
    background-color: #78c8c9
}

.button, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .tab-pane li:hover img, #buddypress div.item-list-tabs ul li.current, #buddypress div.item-list-tabs#subnav ul li.current a, .unit_button.button, #item-header-avatar, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt, .woocommerce .widget_layered_nav_filters ul li a, .woocommerce-page .widget_layered_nav_filters ul li a, .tabs-left > .nav-tabs > li > a:hover, .tabs-left > .nav-tabs > li > a:focus, .tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus, .vibe_filterable li a:hover, .vibe_filterable li.active a, .checkoutsteps ul li:hover, .btn.primary, .checkoutsteps ul li.active, #wplms-calendar td.active, .checkoutsteps ul li.checkout_begin, .widget_course_list a:hover img, .quiz_timeline li.active, .widget_course_list a:hover img {
    border-color: #78c8c9
}

.reply a, .link, a:hover, .author_desc .social li a:hover, .widget ul > li:hover > a, .course_students li > ul > li > a:hover, .quiz_students li > ul > li > a:hover, #buddypress div.activity-meta a, #buddypress div.activity-meta a.button, #buddypress .acomment-options a, .widget .menu li.current-menu-item a, .total_students span, #buddypress a.primary, #buddypress a.secondary, .activity-inner a, #latest-update h6 a, .bp-primary-action, .bp-secondary-action, #buddypress div.item-list-tabs ul li.selected a span, #buddypress div.item-list-tabs ul li.current a span, #buddypress div.item-list-tabs ul li a:hover span, .activity-read-more a, .unitattachments h4 span, .unitattachments li a:after, .noreviews a, .expand .minmax:hover, .connected_courses li a, #buddypress #item-body span.highlight a, #buddypress div#message-thread div.message-content a, .course_students li > ul > li > a:hover, .quiz_students li > ul > li > a:hover, .assignment_students li > ul > li > a:hover, .widget ul li:hover > a, .widget ul li.current-cat a, .quiz_timeline li:hover a, .quiz_timeline li.active a, .woocommerce .star-rating span, .woocommerce-page .star-rating span, .product_list_widget .star-rating span {
    color: #78c8c9
}

#nav_horizontal li.current-menu-ancestor > a, #nav_horizontal li.current-menu-item > a, #nav_horizontal li a:hover, #nav_horizontal li:hover a, .vibe_filterable li.active a, .tabbable .nav.nav-tabs li:hover a, .btn, a.btn.readmore:hover, footer .tagcloud a:hover, .tagcloud a, .pagination a:hover, .hover-link:hover, #buddypress .activity-list li.load-more a:hover, .pagination .current, #question #submit:hover, .ques_link:hover, .reset_answer:hover {
    color: #FFF
}

#logo img {
    max-height: 48px
}

#headertop, .pagesidebar, #vibe_bp_login, #pmpro_confirmation_table thead, .pmpro_checkout thead th, #pmpro_levels_table thead, .boxed #headertop .container {
    background-color: #232b2d
}

#headertop a, .sidemenu li a, #pmpro_confirmation_table thead, .pmpro_checkout thead th, #pmpro_levels_table thead, #vibe_bp_login label {
    color: #FFF
}

header, .sidemenu li.active a, .sidemenu li a:hover, header #searchform input[type="text"], .boxed header .container, .reset_answer:hover {
    background-color: #313b3d
}

nav .menu li a, nav .menu li.current-menu-item a, header #searchicon {
    color: #FFF
}

.sub-menu, nav .sub-menu, header #searchform, #headertop #vibe_bp_login ul + ul {
    background-color: #48575a
}

nav .sub-menu li a, nav .menu li.current-menu-item .sub-menu li a, nav .sub-menu li.current-menu-item a, .megadrop .menu-sidebar, .megadrop .menu-sidebar .widget ul li a, .megadrop .menu-sidebar .widgettitle {
    color: #FFF
}

h1 {
    font-weight: 400
}

h1 {
    color: #474747
}

h1 {
    font-size: 28px
}

h2 {
    font-weight: 400
}

h2 {
    color: #474747
}

h2 {
    font-size: 22px
}

h3 {
    font-weight: 400
}

h3 {
    color: #474747
}

h3 {
    font-size: 18px
}

h4 {
    font-weight: 400
}

h4, h4.block_title a {
    color: #474747
}

h4 {
    font-size: 16px
}

h5 {
    font-weight: 400
}

h5 {
    color: #474747
}

h5 {
    font-size: 14px
}

h6 {
    font-weight: 400
}

h6 {
    color: #474747
}

h6 {
    font-size: 12px
}

#buddypress .widget_title, .widget .widget_title {
    font-weight: 600
}

#buddypress .widget_title, .widget .widget_title {
    color: #474747
}

#buddypress .widget_title, .widget .widget_title {
    font-size: 16px
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .woocommerce .woocommerce-tabs h2, .woocommerce .related h2 {
    font-weight: 400
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3, .woocommerce .woocommerce-tabs h2, .woocommerce .related h2 {
    color: #474747
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3 {
    font-size: 14px
}

.woocommerce .woocommerce-tabs h2, .woocommerce .related h2 {
    font-size: 16px
}

body, .pusher {
    background-color: #f6f6f6
}

.content, #item-body, .widget.pricing, .dir-list, .item-list-tabs, #groups-dir-list, #course-dir-list, #group-create-body, #buddypress #groups-directory-form div.item-list-tabs#subnav, #buddypress #course-directory-form div.item-list-tabs#subnav, .boxed #content .container {
    background-color: #FFF
}

.content, #item-body, .widget.pricing, .dir-list, .item-list-tabs, #groups-dir-list, #course-dir-list, #buddypress ul.item-list li div.item-desc {
    color: #444
}

.content p a, .course_description p a, #buddypress a.activity-time-since, .assignment_heading.heading a, .v_text_block a, .main_unit_content a {
    color: #444
}

body, .content, #item-body, #buddypress ul.item-list li div.item-desc, p {
    font-size: 14px
}

#buddypress div.item-list-tabs, .widget .item-options, #buddypress div.item-list-tabs, .quiz_bar {
    background-color: #313b3d
}

#buddypress div#item-header {
    background-color: #232b2d
}

.button.primary, #vibe_bp_login li span, #buddypress li span.unread-count, #buddypress tr.unread span.unread-count {
    background-color: #fa7252
}

footer, .bbp-header, .bbp-footer, .boxed footer .container, footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    background-color: #313b3d
}

footer, footer a, .footerwidget li a, footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    color: #FFF
}

.footertitle, footer h4, footer a, .footerwidget ul li a {
    color: #FFF
}

#footerbottom, .boxed #footerbottom .container {
    background-color: #232b2d
}

#footerbottom, #footerbottom a {
    color: #FFF
}

#headertop li {
    border-color: #FFF
}

header #searchform:after {
    border-color: transparent transparent #48575a transparent
}

.checkoutsteps ul li:hover:after, .checkoutsteps ul li.active:after, .checkoutsteps ul li.checkout_begin:after {
    border-color: transparent transparent transparent #78c8c9
}

.checkoutsteps ul li.active:nth-child(even):after {
    border-color: transparent transparent transparent #41abb3
}

.checkoutsteps ul li.active:nth-child(even) {
    border-color: #41abb3
}

#vibe_bp_login:after {
    border-color: transparent transparent #232b2d transparent
}

#trigger .lines, .lines:before, .lines:after {
    background: #FFF
}

header #searchicon, header #searchform input[type="text"] {
    color: #FFF
}

.unit_prevnext {
    border-color: #313b3d !important
}

.course_timeline, .quiz_details {
    background: #313b3d !important
}

.unit_prevnext, .course_timeline h4 {
    background: #232b2d !important
}

.quiz_timeline li > span, .quiz_question span {
    background: #232b2d
}

.course_timeline, .course_timeline li.unit_line, .course_timeline li > span, .quiz_timeline .timeline_wrapper {
    border-color: #232b2d !important
}

.button.primary, #vibe_bp_login li span {
    border-color: #fa7252
}

#buddypress a.bp-primary-action:hover span, #buddypress #reply-title small a:hover span, #buddypress div.messages-options-nav a, .unit_module ul.actions li span {
    color: #fa7252
}

nav .menu-item-has-children:hover > a:before {
    border-color: transparent transparent #48575a transparent
}

footer .form_field, footer .input-text, footer .ninja-forms-field, footer .wpcf7 input.wpcf7-text, footer #s, footer .chosen-container.chosen-with-drop .chosen-drop, footer .chosen-container-active.chosen-with-drop .chosen-single, footer .chosen-container-single .chosen-single {
    border-color: #232b2d
}

pre code {
    font-size: 14px;
}

.book_content>h2 {
    margin-top: 0;
}

#side_book_comment ul {
    margin-left: 0 !important;
}

img .author-img {
    margin-left: 200px;
}
