{% extends 'layout.html' %}

{% block cssExtends %}
    <style>
        .module-title {
            font-size: 17px;
            font-weight: bold;
            color: cornflowerblue;
        }

        .label {
            font-size: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <a class="btn btn-warning" data-toggle="modal" href="/admin/modules/reload-modules" style="margin-bottom: 10px;">
        <i class="fa fa-refresh"></i>
        <span class="hidden-480">Reload Modules</span>
    </a>

    <button class="btn btn-success" style="margin-bottom: 10px;" onclick="$('#zip_file').click();">
        <i class="fa fa-plus"></i>
        <span class="hidden-480">Import Module</span>
    </button>

    <form method="post" action="/admin/modules/import-modules" enctype="multipart/form-data">
        <input type="file" id="zip_file" name="zip_file" onchange="this.form.submit();" style="display: none;" />
    </form>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid box-primary">
                <div class="box-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="datatable_orders">
                            <thead>
                            <tr role="row" class="heading">
                                <th>Name</th>
                                <th>Version</th>
                                <th>Description</th>
                                <th width="10%">Status</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for key, module in modules %}
                                <tr>
                                    <td>
                                        <div class="module-title">{{ module.title }}</div>
                                        <div class="module-info">
                                            <span class="module-author">{{ module.author }}</span>
                                        </div>
                                    </td>

                                    <td>
                                        {{ module.version }}
                                    </td>

                                    <td>{{ module.description }}</td>

                                    {% if module.system %}
                                        <td><span class="label label-warning">System</span></td>
                                        {% elif module.active == undefined or module.active == false %}
                                        <td>
                                            <a class="label label-danger" href="javascript:void(0)"
                                               title="Activate this module"
                                               onclick="return checkSecurity('{{ key }}', '{{ module.title }}')">Deactivate</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a class="label label-success" href="/admin/modules/{{ key }}"
                                               title="Deactive this module">Activate</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="security-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Check security</h4>
                </div>
                <div class="modal-body">
                    <div class="activity-list"></div>
                    <div><p>&nbsp;</p><strong>Are you sure to Activate this module?</strong></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
                    <a href="#" class="btn btn-primary btn-activate">Activate</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block jsFooter %}
    <script>
        function checkSecurity(module, title) {
            var activityList = $('.activity-list');

            $.get('/admin/modules/check-security/' + module, function (result, status) {
                if (status == 'success') {
                    if (typeof result == 'object') {
                        var list_activities = '';

                        result.forEach(function (obj) {
                            if (obj.hasOwnProperty('file_path')) {
                                list_activities += obj.file_path + ' has activities: <br/>';
                            }

                            if (obj.hasOwnProperty('file_activities')) {
                                list_activities += '- ' + obj.file_activities + '<br/>';
                            }

                            if (obj.hasOwnProperty('database_activities')) {
                                list_activities += '- ' + obj.database_activities + '<br/>';
                            }
                        });

                        var html = '';
                        if (list_activities == '') {
                            html = 'This module does not have special activities.';
                        } else {
                            html = 'This module has some activities can cause security problem: <br/>' + list_activities;
                        }
                        activityList.html(html);
                    } else activityList.html(result);
                } else {
                    activityList.html('Cannot get activities of this module!');
                }

                $('#security-modal h4.modal-title').text('Check security for module ' + title);
                $('#security-modal').modal('show');
                $('.btn-activate').attr('href', '/admin/modules/' + module);
            });
            return false;
        }
    </script>
{% endblock %}
