<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Corlate</title>

    <!-- core CSS -->
    <link href="/default/css/bootstrap.min.css" rel="stylesheet">
    <link href="/default/css/font-awesome.min.css" rel="stylesheet">
    <link href="/default/css/animate.min.css" rel="stylesheet">
    <link href="/default/css/prettyPhoto.css" rel="stylesheet">
    <link href="/default/css/main.css" rel="stylesheet">
    <link href="/default/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/default/js/html5shiv.js"></script>
    <script src="/default/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/default/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="/default/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="/default/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="/default/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/default/images/ico/apple-touch-icon-57-precomposed.png">
    {% block cssExtends %}{% endblock %}
    {{ 'before_close_head_tag'|fire_event('here is close head tag')|safe }}
</head>
<!--/head-->

<body class="homepage">

{{ 'after_open_body_tag'|fire_event(null)|safe }}

{% include 'default/header.html' %}

{% block content %}
{% endblock %}

{{ "test"|get_sidebar(route)|safe }}

<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Company</h3>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">We are hiring</a></li>
                        <li><a href="#">Meet the team</a></li>
                        <li><a href="#">Copyright</a></li>
                        <li><a href="#">Terms of use</a></li>
                        <li><a href="#">Privacy policy</a></li>
                        <li><a href="#">Contact us</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Support</h3>
                    <ul>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Forum</a></li>
                        <li><a href="#">Documentation</a></li>
                        <li><a href="#">Refund policy</a></li>
                        <li><a href="#">Ticket system</a></li>
                        <li><a href="#">Billing system</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Developers</h3>
                    <ul>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">SEO Marketing</a></li>
                        <li><a href="#">Theme</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Email Marketing</a></li>
                        <li><a href="#">Plugin Development</a></li>
                        <li><a href="#">Article Writing</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Our Partners</h3>
                    <ul>
                        <li><a href="#">Adipisicing Elit</a></li>
                        <li><a href="#">Eiusmod</a></li>
                        <li><a href="#">Tempor</a></li>
                        <li><a href="#">Veniam</a></li>
                        <li><a href="#">Exercitation</a></li>
                        <li><a href="#">Ullamco</a></li>
                        <li><a href="#">Laboris</a></li>
                    </ul>
                </div>
            </div>
            <!--/.col-md-3-->
        </div>
    </div>
</section>
<!--/#bottom-->

{% include 'default/footer.html' %}

<script src="/default/js/jquery.js"></script>
<script src="/default/js/bootstrap.min.js"></script>
<script src="/default/js/jquery.prettyPhoto.js"></script>
<script src="/default/js/jquery.isotope.min.js"></script>
<script src="/default/js/main.js"></script>
<script src="/default/js/wow.min.js"></script>

{% block jsExtends %}
{% endblock %}

{{ 'before_close_body_tag'|fire_event(null)|safe }}

</body>
</html>