{% extends "_widget_setting.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="menu_id">Menu</label>
                <select class="form-control" name="menu_id" id="menu_id">
                    {% for menu in menus %}
                        {% if menu.id == widget.data.menu_id %}
                            <option selected value="{{ menu.id }}">{{ menu.name }}</option>
                        {% else %}
                            <option value="{{ menu.id }}">{{ menu.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}