{% extends "_widget_setting.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="number_of_posts">Number of Posts</label>
                <input type="text" class="form-control" name="number_of_posts" id="number_of_posts" value="{{ widget.data.number_of_posts }}"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="color_scheme">Color Scheme</label>
                <select name="color_scheme" id="color_scheme" class="form-control">
                    <option value="light" {% if widget.data.color_scheme == 'light' %}selected="selected"{% endif %}>Light</option>
                    <option value="dark" {% if widget.data.color_scheme == 'dark' %}selected="selected"{% endif %}>Dark</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="order_by">Order By</label>
                <select name="order_by" id="order_by" class="form-control">
                    <option value="social" {% if widget.data.order_by == 'social' %}selected="selected"{% endif %}>Social</option>
                    <option value="reverse_time" {% if widget.data.order_by == 'reverse_time' %}selected="selected"{% endif %}>Reverse Time</option>
                    <option value="time" {% if widget.data.order_by == 'time' %}selected="selected"{% endif %}>Time</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}