<form method="post">
    <input type="hidden" name="widget" value="{{ widget_type }}">
    <input type="hidden" name="id" value="{{ widget.id }}">

    <div class="row">
        {% block title %}
            <div class="col-md-12">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ widget.data.title }}">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Class</label>
                    <input type="text" class="form-control" name="cls" id="cls" value="{{ widget.data.cls }}">
                </div>
            </div>
        {% endblock %}
    </div>

    {% block content %}
    {% endblock %}

    {% block footer %}
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Layout file</label>
                    <select class="form-control" name="file">
                        {% for file in files %}
                            {% if file == widget.data.file %}
                                <option selected value="{{ file }}">{{ file }}</option>
                            {% else %}
                                <option value="{{ file }}">{{ file }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-success" onclick="return saveWidget(this)">Save</button>
                    <button class="btn btn-danger" onclick="return removeWidget(this);">Remove</button>
                </div>
            </div>
        </div>
    {% endblock %}
</form>