<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block headExtends %}

    {% endblock %}
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    {% block cssExtends %}{% endblock %}
</head>
<!--/head-->

<body>

<!--header start-->
{% include '_header.twig' %}
<!--header end-->
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!--footer start-->
{% include '_footer.twig' %}
<!--footer end-->
<script src="/javascript/jquery-3.2.1.min.js"></script>
<script src="/javascript/bootstrap.min.js"></script>
{% block jsExtends %}{% endblock %}
</body>
</html>