<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/themes/minimum/css/bootstrap.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/font-awesome.min.css" rel="stylesheet">
    <link href="/themes/minimum/css/animate.css" rel="stylesheet">
    <link href="/themes/minimum/css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="/themes/minimum/js/html5shiv.js"></script>
    <script src="/themes/minimum/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">  
</head><!--/head-->
<body>
    <header class="navbar navbar-inverse navbar-fixed-top wet-asphalt" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://arrowjs.io"><img src="/themes/minimum/images/logo.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/local">Local Call</a></li>
                    <li><a href="/remote">Remote Call</a></li>
                </ul>
            </div>
        </div>
    </header><!--/header-->
    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2>Home</h2>
                <p>Home is sweet home</p>
            </div><!--/.col-sm-6-->
        </div>
    </section><!--/#about-us-->

    <script src="/themes/minimum/js/jquery.js"></script>
    <script src="/themes/minimum/js/bootstrap.min.js"></script>
    <script src="/themes/minimum/js/jquery.prettyPhoto.js"></script>
    <script src="/themes/minimum/js/main.js"></script>
</body>
</html>