{% extends 'default_layout.html' %}
{% block cssExtends %}
    <link href="/css/post.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-md-12">
            <section id="title">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="pagetitle"><h1>Kích hoạt tài khoản</h1></div>
                        <ul class="breadcrumbs">
                            <li><a rel="v:url" property="v:title" href="/">Trang chủ</a></li>
                            <li class="current">Kích hoạt tài khoản</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-12 col-sm-12">
            <div class="col-md-12 col-sm-12 thank-you">
                {% if msg %}
                    <div class="alert {% if msg.type == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible"
                         role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        {{ msg.content }}
                    </div>
                    {% if msg.type == 'success' %}
                        <a href="/user/signin">Đăng nhập</a> ngay để tham gia các khóa học tại Techmaster.vn!
                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}

