{% extends 'tech/user_view.html' %}
{% block cssExtends %}
    <link href="/css/user_courses.css" rel="stylesheet">
    <style>
        .miniAvatar img {
            width: 30px;
        }
    </style>
{% endblock %}
{% block content %}
    <section class="content-wrapper">
        <section class="content">
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-solid">
                        <div class="box-body">
                            <div class="classContent list" id="Container">
                                {% if courses %}
                                    {% for course in courses %}
                                        <div class="course mix cat-{{ course[0].cat_id }}">
                                            <div class="course-item">
                                                {% set course_link = "/khoa-hoc/"+ course[0].id +"/"+ course[0].name %}
                                                {% if course[0].type == 2 %}
                                                    {% set course_link = "/khoa-hoc-online/"+ course[0].id +"/"+ course[0].name %}
                                                {% endif %}
                                                <div class="block-media">
                                                    <a href="{{ course_link }}">
                                                        <img src="{{ course[0].course_image_url }}" alt="{{ course[0].title }}"/>
                                                    </a>
                                                </div>

                                                <div class="block-content">
                                                    <h4 class="block-title">
                                                        <a href="{{ course_link }}" title="{{ course[0].title }}">
                                                            {{ course[0].title }}
                                                        </a>
                                                    </h4>


                                                    <div class="progress-group">
                                                        <span class="progress-text">Tiến trình học tập</span>
                                                        <span class="progress-number"><b>{{ course[1]}}</b>/{{ course[0].total_lessons }}</span>
                                                        <div class="progress sm">
                                                            <div class="progress-bar progress-bar-aqua" style="width: {{ course[1] / course[0].total_lessons * 100}}%"></div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div> Bạn chưa đăng ký khóa học nào!</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-solid ">
                        <div class="box-header">
                            <h3 class="box-title"> Giới thiệu khóa học</h3>
                        </div>
                        <div class="box-body">
                            {#<video style="width: 100%" controls="">#}
                                {#<!-- MP4 must be first for iPad! -->#}
                                {#<source src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="video/mp4"><!-- Safari / iOS, IE9 -->#}
                                {#<source src="http://clips.vorwaerts-gmbh.de/VfE.ogv" type="video/ogg"><source src="http://clips.vorwaerts-gmbh.de/VfE.webm" type="video/webm"><!-- Chrome10+, Ffx4+, Opera10.6+ -->#}
                                {#<!-- Firefox3.6+ / Opera 10.5+ -->#}
                                {#<!-- fallback to Flash: -->#}
                            {#</video>#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Thông báo</h3>
                        </div>
                        <div class="box-header">
                            <ul class="todo-list ui-sortable" id="notifyBox">

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Bài viết mới</h3>
                        </div>
                        <div class="box-header">
                            <ul class="todo-list ui-sortable" id="newPost">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
        {% block jsExtends %}
            <script src="/tech/js/jquery.mixitup.min.js" type="text/javascript"></script>
            <script>
                $(function () {
                    $('#Container').mixItUp();
                    $.get("/api_posts", function (data) {
                        $('#newPost').empty();
                        data.forEach(function (item) {
                            var link = '/posts/' + item.id + "/" + item.alias;
                            $('#newPost').append('<li> <a href="'+ link  +'" target="_blank">' + item.title + '</a> </li>');
                        })
                    })

                    $.get('/user/notify', function (data) {
                        $('#notifyBox').empty();
                        $('#notifyBox').append(data);
                    })
                });
            </script>
        {% endblock %}
