{% extends 'default_layout.html' %}
{% block cssExtends %}
    <link href="/css/post.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container">
        <!-- Title + Breadcrumb -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h1>Tìm lại mật khẩu </h1>

                        <ul class="breadcrumbs">
                            <li>
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="current">
                                Tìm lại mật khẩu
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Title + Breadcrumb -->
        <div class="col-md-2"> </div>
        <div class="col-md-8" style="padding:15px; border: 5px deepskyblue solid;background-color: white">
                <div id="buddypress">
                    <section id="content">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    {% if msg %}
                                        <div class="col-md-12">
                                            <div class="alert {% if msg.type == 'error' %}alert-danger{% else %}alert-success{% endif %} alert-dismissible"
                                                 role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span></button>
                                                {{ msg.content }}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div>
                                        <form name="reset-form" id="reset-form" method="post">
                                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                                <div class="row">
                                                   <div class="form-group">
                                                        <label class="control-label">New Password</label>
                                                        <input type="password" class="form-control" id="user_pass" name="user_pass">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Confirmation password</label>
                                                        <input type="password" class="form-control" id="confirm_pass" name="confirm_pass">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12 col-sm-12 col-xs-12 text-left">
                                                <input type="submit" value=" Xác nhận"
                                                       class="btn btn-block">
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block jsExtends %}
    <script>
        var password = document.getElementById("user_pass")
                , confirm_password = document.getElementById("confirm_pass");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Password confirmation does not match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}