{% extends 'default_layout.html' %}
{% block cssExtends %}
    <link href="/css/post.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <!-- Title + Breadcrumb -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title">
                    <h1>Đăng nhập</h1>

                    <ul class="breadcrumbs">
                        <li>
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="current">
                            Đăng nhập
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Title + Breadcrumb -->
    <div class="col-md-2"> </div>
    <div class="col-md-8" style="padding:15px; border: 5px deepskyblue solid;background-color: white">
        <section id="content">
         {% if msg %}
    <div class="col-md-12">
        <div class="alert {% if msg.type == 'error' %} alert-danger {% else %} alert-success {% endif %} alert-dismissible"
             role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            {{ msg.content }}
        </div>
    </div>
{% endif %}
        <form  action="/user/signin" method="post">
         <div class="form-group col-md-12 col-sm-12 col-xs-12">
           <div class="row">
             <div class="form-group col-xs-12">
                Tài khoản:
                <input type="text" name="username" value="" class="form-control" placeholder="Tài khoản  (*)" required/>
            </div>
            <div class="form-group col-xs-12">
                Mật khẩu:
                <input type="password" name="password" class="form-control" placeholder="Mật khẩu (*)" required/>
            </div>
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-left">
        <input type="submit" value="Đăng nhập" class="btn btn-block"/>
    </div>

</form>

<div id="face_goole"  class ="row" style="margin:0px;text-align: center">
    <div class="col-md-6 col-sx-6">
     <a href="/auth/facebook" class="btn btn-block btn-facebook btn-flat"><i class="fa fa-facebook"></i> Đăng nhập qua Facebook</a>
 </div>
 <div class="col-md-6 col-sx-6">
     <a href="/auth/google" class="btn btn-block btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Đăng nhập qua Google</a>
 </div>
</div>

</section>
</div>
</div>
</div>
{% endblock %}